@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0px;
}

h1#Título{
    font-family: 'Bree Serif';
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    color: white;
    background-color: #003ec5;     
}

nav{
    height: 120px;
    background-color: #003ec5;
    display: flex;
    flex-direction: row;
}

div#Menu{
    color: whitesmoke;
    font-size: 20px;
    font-weight: normal;
    padding-top: 60px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center; 
    font-family: 'Bree Serif';
    text-decoration: underline;
}
.main{
    margin-top: 4%;
}
h6{
    line-height: 2em;
}
#left{
    padding-top: 2.5em;
}
#right{
    padding-top: 5em;
    line-height: 5em;
}
button{
    margin-left: 2em;
}
.NEW{
    text-align: center;
    margin-top: 5%;
}
h4{
    line-height: 3em;
}
@media (max-width: 530px){
    h6{
        font-size: 10px;
    }
    footer{
        display: flex;
        flex-direction: row;
        background-color: rgb(37, 37, 37);
        height: auto;
        margin-bottom: 0px;
        margin-top: 60%;
    }
}

footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 37);
    height: auto;
    margin-bottom: 0px;
    margin-top: 15.2%;
}

div#divlogo{
    font-family: 'Permanent Marker';
    font-size: 60px;
    margin-left: 6%;
    color: white;
}

div#divcopy{
    margin-left: 33%;
    margin-top: 3%;
    margin-right: 40%;
    color: white;
    font-size: smaller;
}

div#Menu a:visited{
    color: white;
}

div#Menu a:hover{
    font-size: xx-large;
    font-weight: bolder;
}
div#Menu a{
    color: white;
    text-decoration: underline;
}